# **Aula 01 - Introdução a Data Science**

In [ ]:
print( 'Hello World')

Hello World

In [ ]:
2 + 2

4

In [ ]:
2 * 5

10

In [ ]:
9 / 3

3.0

In [ ]:
# variáveis

copo = 2

In [ ]:
copo

2

In [ ]:
a = 5

In [ ]:
b = 8

In [ ]:
 a + b

13

In [ ]:
a * b

40

In [ ]:
a + 5

10

In [ ]:
10 - b

2

In [ ]:
# funções

def area(largura, comprimento):
  a = largura * comprimento
  return a

In [ ]:
area(10, 10)

100

In [ ]:
# condicional if

x = 10

if x == 11:
  print('X é igual a 10')
elif x == 10:
  print('Você acertou x')
else:
  print('X não é igual a 11')

Você acertou x

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)

1
2
3
4
5

In [ ]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Criar uma variável com o valor 10 e uma nova variável com o valor de a+3
# Criar uma função que calcule o imc de uma pessoa
# Criar um loop com as letras do seu nome

In [ ]:
# Criar uma variável com o valor 10 e uma nova variável com o valor de a+3
a = 10 
b = a + 3 
b

13

In [ ]:
# Criar uma função que calcule o imc de uma pessoa
def imc(massa, altura):
  x = massa / (altura ** altura)
  return x

In [ ]:
imc(70, 1.80)

24.30007034566254

In [ ]:
for x in 'Luis':
  print(x)

L
u
i
s

**TAREFA PARA CASA**

Criar uma condição(if) para dizer se a pessoa está acima do peso

In [ ]:
def imc(massa, altura):
  x = massa / (altura ** altura)
  
  if x < 17:
    print('Muito abaixo do peso')
  elif x < 18.5:
    print('Abixo do peso')
  elif x <25:
    print('Peso normal')
  elif x <30:
    print('Acima do peso')
  elif x <35:
    print('Obesidade Grau I')
  elif x < 40:
    print('Obesidade Grau II')
  else:
    print('Obesidade Grau III')

  return x

In [ ]:
imc(70, 1.80)

Peso normal

24.30007034566254

# **Aula 02 - Extraindo os Dados da Internet**

# **Taks 1 - Importar as bibliotecas**

In [ ]:
# dataframe e manipulação
import pandas  as pd

# requesitar dados do site
import requests

# inspecionar html
from bs4      import BeautifulSoup

# **Taks 2 - Obter os dados do jogadores**

In [ ]:
url = 'http://sofifa.com/players?offset='

In [ ]:
colunas = ['Nome', 'Idade', 'Posicao', 'Media', 'Potencial', 'Time', 'Salario', 'Total_Pontos']

In [ ]:
dados = pd.DataFrame(columns=colunas)

In [ ]:
dados.head()

Empty DataFrame
Columns: [Nome, Idade, Posicao, Media, Potencial, Time, Salario, Total_Pontos]
Index: []

In [ ]:
for offset in range(0, 50):
  url = url + str(offset*61)
  p_html = requests.get(url)
  p_soup = p_html.text
  data = BeautifulSoup(p_soup, 'html.parser')
  table = data.find('tbody')
  for i in table.findAll('tr'):
    td = i.findAll('td')
    Nome  = td[1].findAll('a')[0].text
    Idade = td[2].text
    Posicao = td[1].findAll('a')[1].text
    Media   = td[3].find('span').text
    Potencial = td[4].find('span').text
    Time = td[5].find('a').text
    Salario = td[7].text.strip()
    Total_Pontos = td[8].text.strip()
    
    dados_jogadores = pd.DataFrame([[Nome, Idade, Posicao, Media, Potencial,
                                     Time, Salario, Total_Pontos]])

    dados_jogadores.columns = colunas
    
    dados = dados.append(dados_jogadores, ignore_index=True)

In [ ]:
print(dados)

                 Nome Idade Posicao  ...               Time Salario Total_Pontos
0           S. García    29      ST  ...         Godoy Cruz    €12K         1847
1           S. Tonali    20     CDM  ...              Milan    €25K         2082
2      R. Gravenberch    18      CM  ...               Ajax     €6K         2033
3          M. Mohamed    22      ST  ...     Galatasaray SK    €47K         1798
4           A. Diallo    17      RM  ...  Manchester United     €3K         1518
...               ...   ...     ...  ...                ...     ...          ...
2995          A. Isak    20      ST  ...      Real Sociedad    €28K         1874
2996      N. Williams    19      RB  ...          Liverpool    €13K         1675
2997       B. Gilmour    19      CM  ...            Chelsea    €25K         1812
2998         L. Messi    33      RW  ...       FC Barcelona   €560K         2231
2999         A. Gómez    32     CAM  ...         Sevilla FC    €55K         2075

[3000 rows x 8 columns]

# **Taks 3 - Exportar os nosso Dados**

In [ ]:
dados.to_csv('sds_fifa.csv', encoding='utf-8', index=True)

In [ ]:
dados.to_excel('sds_fifa.xlsx', index=True)